ion-icon {
  font-size: 24px;
}

ion-buttons {
  padding: 10px;
}

ion-content {
  --background: #f7f7f7;
}

.back-button {
  &:focus {
    outline: none;
  }
}

// ion-searchbar {
// .searchbar-input-container {
.searchbar-input {
  border-radius: 42px !important;
  box-shadow: none !important;
}

ion-header .searchbar-md .searchbar-input {
  box-shadow: none;       //去掉search 的阴影
  border: 1px solid rgba(153, 153, 153, 0.5);
  border-radius: 5px;
}

// }
// }

.search-history {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0;

  div {
    display: flex;
    align-items: center;
  }
}

.search-targs {
  padding: 10px;

  span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #f1f1f1;
    position: relative;
    margin: 0 5px; 

    ion-icon {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: #DB4437;
      top: -5px;
      right: -5px;
      color: #ffffff;
    }
  }
}