<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons class="back-button" [routerLink]="[ '/home' ]" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ currentName }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="funnel"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-card-list" no-padding>

  <div *ngFor="let data of dataLists">

    <div class="home-card-list-title" *ngIf="dataLists.length > 1">
      <strong>{{ data.name }}</strong>
      <ion-button fill="clear">
        <ion-icon mode="ios" no-padding slot="start" name="arrow-forward" [routerLink]="[ '/categorylist', data.moreUrl ]"></ion-icon>
      </ion-button>
    </div>

    <!-- 卡片 -->
    <app-carditem [cardData]="data.list"></app-carditem>

  </div>
</ion-content>