<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-button" [routerLink]="[ '/home' ]" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>{{ currentName }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="funnel"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-card-list" no-padding>

  <div *ngFor="let data of dataLists">

    <div class="home-card-list-title">
      <strong>{{ data.name }}</strong>
      <ion-icon no-padding slot="start" name="arrow-forward"></ion-icon>
    </div>

    <!-- 卡片 -->
    <app-carditem [cardData]="data.list"></app-carditem>

  </div>
</ion-content>