<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      首页
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-nav">
    <a href="javascript:void(0)" *ngFor="let item of navs; let i = index" [ngClass]="{'active': tabIndex == i}" (click)="toggleTabs(i)">
      <span>{{item.text}}</span>
    </a>
  </div>

  <!-- start 轮播 -->
  <app-home-slider [datas]="bannerData"></app-home-slider>
  <!-- end 轮播 -->
</ion-content>