.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.h-nav {
  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;

  a {
    position: relative;
    padding: 0 15px 5px;
    color: #9C9C9C;
    text-decoration: none;
    font-weight: 600;

    /* &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 30%;
      width: 40%;
      height: 3px;
      border-radius: 10px;
      background-color: #DB4437;
    } */
  }
  a.active {
    span {
      color: #DB4437;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 30%;
      width: 40%;
      height: 3px;
      border-radius: 10px;
      background-color: #DB4437;
    }
  }
}

.swiper-pagination {
  text-align: right !important;
  padding-right: 20px;
}

ion-header {
  background: #DB4437;
}